header {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 50px;
    
}

.input-group {
    position: relative;
    margin-left: center;
    max-width: 300px;
/*
    margin-left: 300px;
    margin-right: 100px;
*/
    
}
/*
.btn-primary {
    margin-left:  50px;
}*/
